/*Basic Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: 40px;
  line-height: 54px;
  color: #222;
}

h2 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-size: 12px;
  font-weight: 700;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
#hero img{
  border-radius: 20%;
}

body {
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(255, 255, 255);
}
/*Style for header*/
/*Style for hero section*/
#hero{
  display:flex;
  justify-content: space-between;
  margin: 2%;
  background-color: rgb(162, 201, 211);
  position: static;
}
#hero #text{
  padding-left: 5%;
  padding-top: 4%;
}
#text h1,h3,h4,p,button{
  padding: 10px;
  font-weight:50px;
  font-size: xx-large;
}
#text button{
  position:absolute;
  right:77%;
}
/*style for Feature section*/
.section1{
  padding: 40px 80px;
  background-color: aliceblue;
}
#feature .feature-box{
  width: 250px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgb(124, 147, 153);
  border:1px solid;
  border-radius: 4px;
  margin:15px 0;
}
#feature h6{
  font-size: 100%;
  font-weight: bolder;

}